a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #d1d1d1;
}

/* Main menu image */
.mmimg {
	filter: grayscale(100%);
    transition-duration: 500ms;
    object-fit: cover;
    height: 300px;
}

.mmimg:hover {
	filter: grayscale(0%);
    transition-duration: 1s;
}

/* Scale image */
.scimg {
	object-fit: cover;
	height: 300px;
}